@use '@angular/material' as mat;

$theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: (
      // font-family: 'Roboto, sans-serif',
      // color: mat.$dark-theme-text-color,
      // color: mat.$violet-palette,
    ),
  )
);

body {
  @include mat.all-component-themes($theme);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 64px 1fr 250px;
  grid-template-areas: 'header' 'main' 'footer';
  height: 100%;

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  lib-footer {
    grid-area: footer;
  }
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);

:root {
  // --mat-app-background: #{mat.get-theme-color($theme, primary, 40)};
  // .mat-app-background {
  //   background-color: red;
  // }

  mat-toolbar {
    --mat-toolbar-container-background-color: #{mat.get-theme-color(
        $theme,
        primary,
        40
      )};
    // --mat-toolbar-container-color: #{mat.get-theme-color($theme, tertiary, 50)};
  }
  // mat-button {

  // }
}
