@use '@angular/material' as mat;

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  )
);

body {
  @include mat.all-component-themes($theme);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 180px 1fr 250px;
  grid-template-areas: 'header' 'main' 'footer';
  
  background-color: aquamarine;
  height: 100%;

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
    background-color: burlywood;
  }

  footer {
    grid-area: footer;
  }
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);
